<footer class="py-5">
    <hr>
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-md-3 col-sm-12 col-12 footerSection">
				<h5 class="text-uppercase footerHeading">Need journey ticket help ?</h5>
				<div class="needHelp mb-3">
					<img src="../../assets/images/footer/image20.png" alt="call" class="float-left call-icon mr-1"/>
					<span>Got Questions? Call 24/7 !</span>
					<p class="callUs">Call Us : +(1) 800 123 6766</p>
				</div>
				<div class="contactInfo">
					<h6><strong>Contact Info</strong></h6>
					<p>Address is a collection of information, Presented in a mostly ﬁxed format, used</p>
				</div>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-12 footerSection ">
				<ul class="pl-4">
				<h5 class="text-uppercase footerHeading">COMPANY</h5>
						<li><a href="#">About us</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Terms of Use</a></li>
						<li><a href="#">Privacy Statement </a></li>
						<li><a href="#">Give Us FeedBacks</a></li>
						<li><a href="#">FAQ</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-12 footerSection pl-3">
				<ul class="pl-4">
				<h5 class="text-uppercase footerHeading">OTHER SERVICES</h5>
						<li><a href="#">Investor Relations </a></li>
						<li><a href="#">Rewards Program </a></li>
						<li><a href="#">PointsPLUS </a></li>
						<li><a href="#">Partners </a></li>
						<li><a href="#">List Journey Tickets</a></li>
						<li><a href="#">Sitemap</a></li>
				</ul>
			</div>
			<div class="col-lg-3 col-md-3 col-sm-12 col-12 footerSection">
				<h5 class="text-uppercase footerHeading">FOLLOW US ON</h5>
				<p>Sign up for our mailing list to get latest update and offers. </p>
					 <div class="input-group mb-3">
						<input type="text" class="form-control" placeholder="Enter Your Email">
						<div class="input-group-append">
							<button class="btn btn-secondary py-0" type="button">
							SUBMIT
							</button>
						</div>
					</div>
					<ul class="list-inline social-buttons pl-0" >
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fab fa-facebook-f"></i>
						</a>
					  </li>
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fab fa-instagram"></i>
						</a>
					  </li>
					   <li class="list-inline-item">
						<a href="#">
						  <i class="fab fa-youtube"></i>
						</a>
					  </li>
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fab fa-twitter"></i>
						</a>
					  </li>
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fa"></i>
						</a>
					  </li>
					  <li class="list-inline-item">
						<a href="#">
						  <i class="fa" aria-hidden="true"></i>
						</a>
					  </li>
				</ul>				
			</div>
		</div>
	</div>

<!--Footer Section End-->
      
</footer>
<hr class="backgroundHR">
<!--CopyRight section start-->
<section class="copyRight">
	<div class="container">
		<div class="row">
		<div class="col-12">
		<p class="m-0 float-left">© 2019 Journeyticket.com Designed And Developed By Tkies.com</p>
		<ul class="list-inline float-right">
			<li class="list-inline-item" ><a href="#" class="border-right pr-3">Privacy Policy</a></li>
			<li class="list-inline-item"><a href="#">Terms & Condiations</a></li>
		</ul>
		</div>
		</div>
	</div>
</section>
<!--CopyRight section end-->