<section class="hotelSearch">
    <div class="container">
        <div class="modifySearch">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 ">
                <div class="float-left modifySearchLeft">
                    <i class="fa fa-angle-left" aria-hidden="true"></i>
                    <span>Back to Search Results Modify Search</span>
                </div>
                <div class="float-right modifySearchRight">
                    <button type="button" class="form-control" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Modify Search
                    </button>
                </div>
            </div>
        </div>
        </div>
        <hr>
        <div class="hotelDeatilsSecname">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="float-left">
                        <div class="primaryTextHotelName"><h5>Hyatt Regency Dubai</h5></div>
                        <div class="secondaryTextHotelName"><p> Deira Corniche Alkhaleej Road, Dubai,</p></div>
                    </div>
                    <div class="float-right">
                        <span class="hotelPrice">USD 179.89</span>
                        <button type="button" class=" chooseRoomBtn">Choose Room</button>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="hotelDeatilsSecImage">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card mt-3 tab-card">
                      <div class="card-header tab-card-header">
                        <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
                          <li class="nav-item">
                              <a class="nav-link" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">PHOTOS</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">ROOMS</a>
                          </li>
                          <li class="nav-item">
                              <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">MAP</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="four-tab" data-toggle="tab" href="#four" role="tab" aria-controls="four" aria-selected="false">AMENITIES</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" id="five-tab" data-toggle="tab" href="#five" role="tab" aria-controls="Five" aria-selected="false">HOTEL POLICIES</a>
                          </li>
                        </ul>
                      </div>
              
                      <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active p-3" id="one" role="tabpanel" aria-labelledby="one-tab">
                          <h5 class="card-title">PHOTOS</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>              
                        </div>
                        <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
                          <h5 class="card-title">ROOMS</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>              
                        </div>
                        <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
                          <h5 class="card-title">MAP</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere</a>              
                        </div>
                        <div class="tab-pane fade p-3" id="four" role="tabpanel" aria-labelledby="four-tab">
                            <h5 class="card-title">AMENITIES</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>              
                        </div>
                        <div class="tab-pane fade p-3" id="five" role="tabpanel" aria-labelledby="five-tab">
                            <h5 class="card-title">HOTEL POLICIES</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <a href="#" class="btn btn-primary">Go somewhere</a>              
                        </div>
              
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="chooseRoomSection">
            <div class="chooseRoomHeading">
                <h5>CHOOSE ROOM</h5>
            </div>
            <div class="chooseRoomInnerDiv">
                <div class="chooseRoomSearch">

                </div>
                <div class="chooseRoomSearchResult">
                    <h6>Superior Room, 1 Twin Bed</h6>
                    <div class="col-lg-2 col-md-2 col-sm-12 col-12 chooseRoomImg">
                        <img src="../../assets/images/370x370-1.jpg" alt="img" class="img-fluid" />
                        <ul>
                            <li>Air conditioning</li>
                            <li>Minibar</li>
                            <li>Connecting/adjoining </li>
                            <li>Rooms available</li>
                            <li>Housekeeping</li>
                        </ul>
                    </div>
                    <div class="col-lg-10 col-md-10 col-sm-12 col-12 chooseRoomDetails">
                        <h6>Superior Room, 1 Twin Bed</h6>
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 roomnoOfGuest">
                                <p>Max Guests</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 roomHighlights">
                                <ul>
                                    <li>Free Cancellation</li>
                                    <li>Not Included</li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 roomPrices">
                                <p>Price for 2 nights</p>
                                <span>USD 179.89
                                </span>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 Highlights">
                                <button type="button" class="bookBtn">Book Now</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12 roomnoOfGuest">
                                <p>Max Guests</p>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-12 col-12 roomInclusions">
                                <p>Inclusions</p>
                                <ul>
                                    <li>Free Breakfast </li>
                                    <li>Free Valet Parking</li>
                                </ul>
                                <p>More Inclusions</p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 roomHighlights">
                                <ul>
                                    <li>Free Cancellation</li>
                                    <li>Not Included</li>
                                </ul>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-12 col-12 roomPrices">
                                <p>Price for 2 nights</p>
                                <span>USD 179.89
                                </span>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-12 col-12 Highlights">
                                <button type="button" class="bookBtn">Book Now</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseExample">
        <div claas="hotelSearchBackground">
        <div class="container">
        <div class="row">
        <div class="card card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>
        </div>
        </div>
        </div>
      </div>
</section>
