       

<!--Popup code Login-->
<!--<ng-template #mymodal let-modal>-->
    <form [formGroup]="loginForm" (ngSubmit)="login()" >

    <section class="loginPage" >
        <div class=" text-center loginFormdiv alert  alert-dismissible">
          <div class="loginIcon arrow-bottom arrow-bottom-border">
            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">×</span>
              </button>
            <img src="../../assets/images/header/rUsericon.png" alt="icon" />
          </div>
          <div class="loginForm">
            <h5 class="primaryText"><strong>Get the full experience </strong></h5>
            <p class="SecondayText">Track prices, make trip planning easier and enjoy faster booking.</p>
              <div class="input-group">
              <input type="text" placeholder="Usename" formControlName="username" class="form-control">
              </div>
              <div class="input-group">
              <input type="text" placeholder="Password" formControlName="password" class="form-control">
              </div>
              <div class="float-left checkboxForgetl">
              <label class="container-checkbox">Remember Me
				  <input type="checkbox" checked="checked">
				  <span class="checkmark"></span>
				</label>
              </div>
              <div class="float-right checkboxForgetl">
                <a href="#">Forgot Password</a>
              </div>
              <button value="Login" type="submit" class="form-control">Continue</button>
              <p class="checkboxForgetl">By proceeding, you agree with our<a href="#" class="link">Terms of Services</a><a href="#" class="link">Privacy Policy </a>& <a href=""class="link">Master user Agreement</a></p>
            <hr>
            <div class="socialBtngf">
            <div class="socailBtn google-btn">
              <div class="google-icon-wrapper">
              <img class="google-icon" src="../../assets/images/popup/google-photos-icon.png" alt="google-icon"/>
              </div>
              <p>Sign in with Google</p>
            </div>
            <div class="socailBtn google-btn facebook-btn">
              <div class="google-icon-wrapper">
              <img class="google-icon" src="../../assets/images/popup/fb-icon.png" alt="google-icon"/>
              </div>
              <p>Sign in with Facebook</p>
            </div>
            </div>
            <p class="SecondayText">Don’t have an account?  <a href="Register.html" class="link">Register Here.</a></p>
          </div>
        </div>
      </section>
    </form>
<!--</ng-template> -->
