<content>
    <section class="" style="height:170px;background-color:#261b3f">
        <div class="container">
        <div class="row">

        </div>    
        </div>  
    </section>

    <section class="pt-3  confirm-section">
 <div class="container">
     <div class="row">
<div class="col-lg-9 p-0" style="padding-right:10px !important;" >

    
<div class="row mx-0 leftdiv" >
    <div class="container ">
<div class="row pt-2 pl-3 pb-2"  style="background-color:#261b3f; color:#fff;border-radius:5px 5px 0px 0px;">
    <div class="col-lg-12 col-md-12 col-sm-12 pr-4 col-12">
<div class="float-left">
<i class="fas fa-calendar-alt" style="font-size:15px;color:#d32d9c"></i>
  &nbsp; <span >Review Your Booking </span>
</div>
<div class="float-right ">
    <i class="fas fa-angle-down flip" style="font-size:15px;"></i> 
</div>
</div>
</div>
</div>



<div class="container pt-3 panel">
    <div class="row pt-1  pb-1 pt-3" >
        <div class="col-lg-12 ml-0 col-md-12 row col-sm-12  col-12">
    <div class="col-lg-5 ">
        <img src="../assets/images/hotel11.jpeg" style="border-radius:5px;width:280px;height:200px;">
    </div>
 <div class="col-lg-7 pl-0">
<div class="row p-0 mb-3">
    <h5 class="mb-0 ">Hyatt Regency Dubai  &nbsp; &nbsp;
    <i class="fas fa-star star-icon"></i>
    <i class="fas fa-star star-icon"></i>
    <i class="fas fa-star star-icon"></i>
    <i class="fas fa-star star-icon"></i>
    <i class="fas fa-star star-icon"></i> </h5>
    <span style="color:lightgrey;font-size:11px;">
     <i class="fas fa-map-marker-alt place-icon1 pl-0"></i> 
     &nbsp;  Deira Comiche Alkhaleej Road, Dubai,</span>
</div>
<div class="row pt-2">
<div class="col-lg-5 pl-2  pr-0 " >
    <div class="row">
    <div class="col-lg-5  ml-2 text-center p-0 check-box">
        <div class="col-lg-12 p-2 col-l2 check-div" >
<p class="mb-0" style="font-size:12px">Check-in </p> 
<p class="mb-0 bold" >25</p> </div>

<p style="font-size:12px;">Oct &nbsp; | &nbsp; 14:00</p> 
    </div>
    <div class="col-lg-5  ml-2 text-center p-0 check-box" >
            <div class="col-lg-12 p-2 col-l2 check-div" >
    <p class="mb-0" style="font-size:12px">Check-out </p> 
    <p class="mb-0 bold" >27</p> </div>
    
    <p style="font-size:12px;">Oct &nbsp; | &nbsp;14:00</p> 
        </div>
    </div>

        <div class="row mt-3" style="line-height:2;">
 <div class="col-lg-4 text-center pr-0">
     <p>Inclusion</p>
 </div>
 <div class="col-lg-8  p-0 ">
<ul style="list-style:none;padding-left:5px;">
         <li class="semibold">  <i class="material-icons">&#xe5ca;</i> Breakfast</li>
         <li class="semibold">  <i class="material-icons">&#xe5ca;</i> Internet Included</li>
         <li><a href="#"> View More</a> </li>
     </ul>
 </div>
        </div>
</div>

<div class="col-lg-7 ">
    <div class="container">
<div class="row">
    <div class="col-lg-6 p-0 float-left semibold" >
3 Day & 2 Nights
    </div>
    <div class="col-lg-6 p-0 semibold" style="text-align:right !important;">
        <a href="#">Change Room</a>
    </div>
    </div>
    </div>
    <hr class=" mt-2 mb-0">
    <div class="row container pt-2 pb-2">
            <div class="col-lg-12  p-0 float-left" >
       <span style="color:grey;">Room 1: &nbsp;&nbsp;2 Adults </span>
            </div>
            </div>
            <hr class="mb-0 mt-0">
</div>
</div>
 </div>
    </div>
    </div>
    </div>


<div class="container ">
    <div class="row pt-2 pl-2 pb-2"  style="background-color:#d3d3d3cf; color:black;">
        <div class="col-lg-12 col-md-12 col-sm-12  col-12">
    <div class="float-left">

    Cancellation Policy: If Booking is Cancelled from 2020-01-28 , 100% of the Booking.
    <a href="#"> View More</a>
    </div>

    </div>
    </div>
    </div>
</div>



<div class="row mx-0 leftdiv" >
        <div class="container mb-2">
                <div class="row pt-2 pl-3 pb-2"  style="border-bottom:1px solid lightgrey;" >
                    <div class="col-lg-12 col-md-12 col-sm-12 pr-4 col-12">
                <div class="float-left">
                <i class="fas fa-user-plus" style="font-size:15px;color:#d32d9c;"></i> &nbsp;&nbsp;
              <span  class="title">Enter Travellers Details </span> &nbsp;&nbsp;&nbsp;
                <a href="#" style="font-size:12px;">Sign in </a> <span style="color:grey;font-size: 12px;"> to book faster and use ecash</span>
                </div>
                <div class="float-right">
                    <i class="fas fa-angle-down " style="font-size:15px;color:#261b3f;"></i> 
                </div>
                </div>
                </div>
                </div>

                <div class="container  m-3" style="background-color:#8ceaea21;font-size:13px;color:#261b3f;">
                    <div class="row semibold" style="padding:7px;font-size:12px;">
                    Note: Please make sure you enter the  name as per your passport.
                    </div>
                </div>

                <div class="container m-3" style="background-color:#d3d3d347;"> 
             <div class="row pl-3 pr-3 pt-3 mb-1">
                 <i class="fas fa-user mr-3" style="font-size:25px;"></i> &nbsp; &nbsp;&nbsp;Adult 1
             </div>
             <div class="row p-3 mb-3">
              <div class="col-lg-2 pl-2 pt-2 pb-2">
              Adult Name
              </div>
              <div class="col-lg-9 ml-0 pl-0 pr-0  row" >
             <div class="col-lg-2 p-0 padding">
           <input type="text" placeholder="Title" class="form-control form-field">
             </div>
             <div class="col-lg-6 p-0 padding">
            <input type="text" placeholder="First Name" class="form-control form-field">
                </div>
                <div class="col-lg-4 p-0">
          <input type="text" placeholder="Last Name" class="form-control form-field">
                    </div>   
              </div>
             </div>
                </div>

                <div class="container ml-3 mt-1">
               <div class="row pl-2"> 
                  <div class="col-lg-2 ">
                  Email Address
                   </div>
                
                   <div class="col-lg-9 p-0 ml-0  row ">
                        <div class="col-lg-7  pr-2 mb-3 pl-0 ">
                                <div class="form-group has-search has-select m-0">
                                  <img class="enevelope" src="../../assets/images/banner/envelope.png" alt="icon" >
                                  
                                  <input type="text" name="name" placeholder=" " class="form-control">
                                </div>
                              </div>
           <!----- <div class="col-lg-7 pr-2  p-0">
            <div class="form-group has-search has-select  m-0">
         
               <input type="text"   class="form-control " style="font-size:13px;"/>
                            </div>
             </div>--->

               <div class="col-lg-5 pt-2 p-0">
              <span style="color:lightgrey;font-size:11px;"> Your ticket will be send to this email address.</span>
                   </div>
               </div>
                </div>
                </div>

                
                <div class="container ml-3 mb-3 mt-3">
                        <div class="row pl-2"> 
                            <div class="col-lg-2 pl-2 pt-2 pb-2 p-0">
                           Mobile Number
                            </div>
                            <div class="col-lg-9 p-0 ml-0  row ">
                                <div class="col-lg-7 pr-2 p-0">
                     <div class="form-group has-search has-select  m-0">
                         <input type="text" placeholder="+984" class="code">
                        <input type="text" placeholder="" class="form-control form-field"> 
                                                        </div>
                     </div>
         
                        </div>
                         </div>
                         </div>

                        <div class="container ml-3 mr-3"> 
                            <hr style="border:1px solid lightgrey">
                        </div>

                        <div class="container ml-3 mr-3 mb-3" style="font-size:13px;">
                       <div class="row pl-3">
                           <div class="col-lg-12">
                           <div class=" float-left">
                         <ul style="list-style:none;">
                             <li> Enter GST Details to cliam benefits (optional) </li>
                             <li> Treavel for business purpose? Please enter Company GST detail below </li>
                         </ul>
                           </div>
                           <div class="float-right">
                         <button class="btn  pl-2 addbtn" >Add</button>
                           </div>
                           </div>
                       </div>
                        </div>

                          
                        
                
    </div>

    <div class="row mx-0 leftdiv" style="height:250px;" >
            <div class="container mb-2">
                    <div class="row pt-2 pl-3 pb-2"  style="border-bottom:1px solid lightgrey;" >
                        <div class="col-lg-12 col-md-12 col-sm-12 pr-4 col-12">
                    <div class="float-left">
                 <span class="title"> Service Requests </span> (optional)
                    </div>
                    <div class="float-right">
                
                        <i class="fas fa-angle-down " style="font-size:15px;color:#d32d9c;"></i>   
                    
                    </div>
                    </div>
                    </div>
                    </div>
        </div>   
        
        
        <div class="container  pt-3 " style="margin-bottom:20px;">
            <div class="row m-auto">
                <button  class="btn m-auto text-uppercase pt-1 col-lg-3 continuebtn">Continue </button>
          </div>
                       </div>
                       
                       
                       
    <div class="row mx-0 leftdiv" >
        
            <div class="container  mr-3 " style="font-size:13px;">
                    <div class="row pl-3 pt-3">
                        <div class="col-lg-12">
                        <div class=" float-left">
                      <ul style="list-style:none;">
                          <li> Enter GST Details to cliam benefits (optional) </li>
                          <li> Treavel for business purpose? Please enter Company GST detail below </li>
                      </ul>
                        </div>
                        <div class="float-right">
                    <i class="fas fa-plus icon-plus"></i>
                        </div>
                        </div>
                    </div>
                     </div>
    

                     
                     <div class="container ml-3 mr-3"> 
                            <hr class="mt-0 pt-0" >

            <div class="row col-lg-11 pl-3 pb-3">
            <div class="col-lg-4 p-0 padding">
        <input type="text" class="form-control form-field" placeholder="Company GST Email">   
            </div>
            <div class="col-lg-4 p-0 padding">
         <input type="text" class="form-control form-field" placeholder="GST Number">   
          </div>
            
             <div class="col-lg-4 p-0">
            <input type="text" class="form-control form-field" placeholder="Company Address">   
          </div>
            </div> 
            
            
            <div class=" col-lg-11 row pl-3 mb-3 pb-3">
            
                    <div class="col-lg-4 p-0 padding">
                <input type="text" class="form-control form-field" placeholder="Company Name">   
                    </div>
                    <div class="col-lg-4 p-0 padding">
                 <input type="text" class="form-control form-field" placeholder="Company Control Number">   
                  </div>
                    
                     <div class="col-lg-4 p-0">
           <button
            class="btn m-0 text-uppercase pt-1 form-field addgst">Add Gst </button>
          
                  </div>
                  
                    </div> 
                        </div>
    
    </div>
        
</div>


 
<div class="col-lg-3 p-0  ">
    <div class="row mx-0 pt-2 pb-3 rightdiv " >
        <h6 class="pl-3" style="color:#d32d9c;">Tariff Details</h6>
    <div class="container p-0 m-0 ">
        <hr class="mb-0 mt-0 ">
    </div>
    <div class="row mx-0 " style="padding:15px;width:100%;padding-top:10px !important;"> 
        <div class="col-lg-12 pb-2 pl-2 pr-2">
    <div class="float-left"> Travelers</div>
    <div class="float-right"> Adult 1</div>
        </div>

     
     <div class="col-lg-12 pb-2 pl-2 pr-2">
                <div class="float-left"> Base Fare</div>
                <div class="float-right"> USD 172,98</div>
     </div>  
     
     
     <div class="col-lg-12 pb-2 pl-2 pr-2">
            <div class="float-left"> Fee & Surcharge</div>
            <div class="float-right"> USD 142,20</div>
 </div>   

 
 <div class="col-lg-12 pl-2 pr-2" style="line-height:1;">
        <div class="float-left"> Wallet Discount <br>
            <a href="#" style="font-size:10px;">Sign in/Sign up to use Wallet</a></div>
        <div class="float-right"> USD 0</div>
</div>   
  <!----   <table style="width:100%;">
         <tr class="mb-2">
             <td>Travelers</td>
             <td class="float-right">1 Adult</td>
         </tr>
         <tr>
             <td>Base Fare</td>
             <td class="float-right">USD 172,98</td>
         </tr>
         <tr>
             <td>Fee & Surcharge</td>
             <td class="float-right">USD 142,20</td>
         </tr>
         <tr>
             <td >Wallet Discount <br>
            <a href="#" style="font-size:12px;">Sign in/Sign up to use Wallet</a> </td>
            <td class="float-right">USD 0</td>
         </tr>

     </table> -->
    </div>


     <div class="container " style="background-color: #8ceaea21;">
<div class="row mx-0 pt-1 pb-1 semibold" style="color:#006affb0;line-height:1;width:100%;font-size:15px;">
     <div class="col-lg-6 p-0">
         Total Amount <br>
        <span style="font-size:10px;">No Cost EMI </span>

     </div>
     <div class="col-lg-6  p-0" style="text-align:right !important;">
      USD 315, 18 
     </div>
     </div>
</div>
    </div>
</div>
     </div>
     </div>

    </section>
</content>